.supream {
    position: relative;
}
.translation-container {
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    position: absolute;
    max-height: 85vh;
    border: 1px solid #ccc;
}

.input-label {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.translate-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.translation-result {
    margin-top: 20px;
}

*,
:after,
:before {
    box-sizing: border-box;
    max-width: 100%;
}
