.ui.violet.message {
    text-align: right;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 채팅창 컨테이너를 전체 화면 높이로 설정 */
}

.message-container {
    flex: 1; /* 메시지 컨테이너가 남아 있는 공간을 차지하도록 설정 */
    overflow-y: auto; /* 메시지가 넘칠 경우 스크롤 표시 */
    padding: 10px;
}

.message {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.input-box {
    padding: 10px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui.input > input {
    min-width: 500px;
}
